* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Header Section */
.header {
  background-color: #1f2937;
  color: white;
}

.header-logo {
  font-size: 24px;
}

.nav-container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 5rem;
}
.nav-item {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 0.2rem;
}

.nav-link:hover {
  color: greenyellow;
}

.hero-container {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.hero {
  color: white;
}

.img-hero {
}

.info-title {
  text-align: center;
}

.item-container {
  display: flex;
  margin: 0 10% 0 10%;
  justify-content: space-between;
}

.item {
  padding: 0.25rem;
}

.quote-container {
  background-color: #e5e7eb;
  text-align: center;
}

.footer {
  text-align: center;
}

.message {
  font-size: 150px;
  margin: auto;
  text-align: center;
}

@media (max-width: 500px) {
  .nav-item {
    /* text-align: center; */
    flex-direction: column;
    align-self: flex-end;
  }

  /* .nav-container {
    flex-wrap: wrap;
  } */
}
